USE [AdventureWorks2025]
GO
/****** Object:  Table [HumanResources].[OrganizationNodes]    Script Date: 11/29/2025 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HumanResources].[OrganizationNodes](
	[OrganizationLevel] [int] NULL,
	[OrganizationNode] [nvarchar](30) NULL,
	[Supervisors] [json] NULL
) ON [PRIMARY]
GO
