USE [AdventureWorks2025]
GO
/****** Object:  Table [HumanResources].[Organization]    Script Date: 11/29/2025 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HumanResources].[Organization](
	[OrganizationNode] [nvarchar](30) NULL,
	[OrganizationLevel] [int] NULL,
	[EmployeeID] [int] NOT NULL,
	[Employee] [nvarchar](30) NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[Department] [dbo].[Name] NOT NULL,
	[DepartmentGroup] [dbo].[Name] NOT NULL,
	[SupervisorID] [int] NULL,
	[Supervisor] [nvarchar](30) NULL,
	[SupervisorJobTitle] [nvarchar](50) NULL,
	[SupervisorDepartment] [nvarchar](50) NULL,
	[SupervisorDepartmentGroup] [nvarchar](50) NULL
) ON [PRIMARY]
GO
