USE [AdventureWorks2025]
GO
/****** Object:  StoredProcedure [HumanResources].[uspOrganizationNodes]    Script Date: 11/29/2025 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HumanResources].[uspOrganizationNodes]
AS

SET NOCOUNT ON;

IF OBJECT_ID(N'HumanResources.OrganizationNodes') IS NULL
BEGIN
    CREATE TABLE [HumanResources].[OrganizationNodes](
	    [OrganizationLevel] [int] NULL,
	    [OrganizationNode] [nvarchar](30) NULL,
	    [Supervisors] [json] NULL
    ) ON [PRIMARY]

    PRINT 'HumanResources.OrganizationNodes table created.'
END
ELSE
BEGIN
    TRUNCATE TABLE HumanResources.OrganizationNodes;

    PRINT 'HumanResources.OrganizationNodes has been truncated.'
END

INSERT INTO HumanResources.OrganizationNodes(OrganizationLevel, OrganizationNode, Supervisors)
SELECT 
    OrganizationLevel,
    OrganizationNode,
    JSON_ARRAYAGG(
        JSON_OBJECT(
            'organizationNode': CAST(o.OrganizationNode AS NVARCHAR),
            'organizationLevel': o.OrganizationLevel,
            'employeeID': o.EmployeeID,
            'employee': o.Employee,
            'jobTitle': o.JobTitle,
            'department': o.Department,
            'departmentGroup': o.DepartmentGroup,
            'supervisorID': o.SupervisorID,
            'supervisor': o.Supervisor,
            'employeeCount': Employees.EmployeeCount,
            'employees': Employees.Employees
        )
    ) AS Supervisors
FROM 
    HumanResources.Organization o
    CROSS APPLY (
        SELECT
            EmployeeCount = COUNT(*),
            JSON_ARRAYAGG(
                JSON_OBJECT(
                    'organizationNode': CAST(e.OrganizationNode AS NVARCHAR),
                    'organizationLevel': e.OrganizationLevel,
                    'employeeID': e.EmployeeID,
                    'employee': e.Employee,
                    'jobTitle': e.JobTitle,
                    'department': e.Department,
                    'departmentGroup': e.DepartmentGroup
                )
            ) AS Employees
        FROM HumanResources.Organization e
        WHERE e.SupervisorID = o.EmployeeID
    ) Employees
GROUP BY
    OrganizationNode,
    OrganizationLevel

PRINT CONCAT(@@ROWCOUNT,' Organization Nodes Inserted')
GO
