USE [AdventureWorks2025]
GO
/****** Object:  StoredProcedure [HumanResources].[uspOrganization]    Script Date: 11/29/2025 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HumanResources].[uspOrganization]
AS

SET NOCOUNT ON;

IF OBJECT_ID(N'HumanResources.Organization') IS NOT NULL
BEGIN
    DROP TABLE HumanResources.Organization
    PRINT 'HumanResources.Organization table dropped.'
END

;WITH ceo AS
(
    SELECT
        OrganizationLevel = 0,
        OrganizationNode = CAST('/0/' AS NVARCHAR),
        EmployeeID = EmployeeID,
        Employee = Employee,
        JobTitle = JobTitle,
        Department = Department,
        DepartmentGroup = DepartmentGroup,
        IsSupervisor = IsSupervisor,
        SupervisorID = NULL,
        Supervisor = NULL,
        SupervisorJobTitle = NULL,
        SupervisorDepartment = NULL,
        SupervisorDepartmentGroup = NULL
    FROM 
        HumanResources.vEmployeeDetails
    WHERE 
        EmployeeID = 1
), 
org AS
(
    SELECT 
        OrganizationLevel = IIF(e.EmployeeID = c.EmployeeID,c.OrganizationLevel,e.OrganizationLevel),
        OrganizationNode = IIF(e.EmployeeID = c.EmployeeID,CAST(c.OrganizationNode AS NVARCHAR),CAST(e.OrganizationNode AS NVARCHAR)),
        EmployeeID = e.EmployeeID,
        Employee = CAST(e.Employee AS NVARCHAR),
        JobTitle = e.JobTitle,
        Department = e.Department,
        DepartmentGroup = e.DepartmentGroup,
        IsSupervisor = e.IsSupervisor,
        SupervisorID = IIF(e.EmployeeID = c.EmployeeID, NULL, c.EmployeeID),
        Supervisor = IIF(e.EmployeeID = c.EmployeeID, NULL, CAST(c.Employee AS NVARCHAR)),
        SupervisorJobTitle = IIF(e.EmployeeID = c.EmployeeID, NULL, c.JobTitle),
        SupervisorDepartment = IIF(e.EmployeeID = c.EmployeeID, NULL, c.Department),
        SupervisorDepartmentGroup = IIF(e.EmployeeID = c.EmployeeID, NULL, c.DepartmentGroup)
    FROM 
        HumanResources.vEmployeeDetails e
            CROSS APPLY ceo as c
    WHERE
        e.SupervisorID IS NULL

    UNION

    SELECT 
        OrganizationLevel = e.OrganizationLevel,
        OrganizationNode = CAST(e.OrganizationNode AS NVARCHAR),
        EmployeeID = e.EmployeeID,
        Employee = CAST(e.Employee AS NVARCHAR),
        JobTitle = e.JobTitle,
        Department = e.Department,
        DepartmentGroup = e.DepartmentGroup,
        IsSupervisor = e.IsSupervisor,
        SupervisorID = s.EmployeeID,
        Supervisor = CAST(s.Employee AS NVARCHAR),
        SupervisorJobTitle = s.JobTitle,
        SupervisorDepartment = s.Department,
        SupervisorDepartmentGroup = s.DepartmentGroup
    FROM 
        HumanResources.vEmployeeDetails e
        LEFT JOIN HumanResources.vEmployeeDetails s
            ON e.OrganizationNode.GetAncestor(1) = s.OrganizationNode
    WHERE
        e.SupervisorID IS NOT NULL
)

SELECT
    OrganizationNode,
    OrganizationLevel,
    EmployeeID,
    Employee,
    JobTitle,
    Department,
    DepartmentGroup,
    SupervisorID,
    Supervisor,
    SupervisorJobTitle,
    SupervisorDepartment,
    SupervisorDepartmentGroup
INTO HumanResources.Organization
FROM org
ORDER BY
    SupervisorID,
    OrganizationLevel,
    OrganizationNode

PRINT CONCAT(@@ROWCOUNT,' Organization Employees Inserted')
GO
