USE [AdventureWorks2025]
GO
/****** Object:  View [HumanResources].[vEmployeeDetails]    Script Date: 11/29/2025 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [HumanResources].[vEmployeeDetails]
AS
SELECT 
    EmployeeID = e.[BusinessEntityID],
    NationalID = [NationalIDNumber],
    OrganizationNode = e.OrganizationNode,
    OrganizationLevel = e.OrganizationLevel,
    SupervisorID = s.SupervisorID,
    Employee = CONCAT(CAST(p.FirstName AS NVARCHAR),SPACE(1),CAST(p.LastName AS NVARCHAR)),
    LoginID = [LoginID],
    IsSupervisor = IIF(e.[BusinessEntityID] = 1 OR sup.SupervisorID IS NOT NULL, 1, 0),
    DepartmentGroup = d.GroupName,
    Department = d.Name,
    JobTitle = [JobTitle],
    Gender = [Gender],
    HireDate = [HireDate],
    SalariedFlag = [SalariedFlag],
    CurrentFlag = [CurrentFlag]
FROM 
    [HumanResources].[Employee] e
    LEFT JOIN HumanResources.vSupervisors s ON e.BusinessEntityID = s.EmployeeID
    LEFT JOIN (
        SELECT 
            DISTINCT SupervisorID = s.BusinessEntityID
        FROM 
            HumanResources.Employee e
            LEFT JOIN HumanResources.Employee s
                ON e.OrganizationNode.GetAncestor(1) = s.OrganizationNode
        WHERE
            s.BusinessEntityID IS NOT NULL
    ) sup ON e.BusinessEntityID = sup.SupervisorID
    INNER JOIN Person.Person p ON e.BusinessEntityID = p.BusinessEntityID
    INNER JOIN [HumanResources].[EmployeeDepartmentHistory] edh ON e.BusinessEntityID = edh.BusinessEntityID
    INNER JOIN [HumanResources].[Department] d ON edh.DepartmentID = d.DepartmentID
WHERE
    edh.EndDate IS NULL
GO
