USE [AdventureWorks2025]
GO
/****** Object:  View [HumanResources].[vSupervisors]    Script Date: 11/29/2025 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [HumanResources].[vSupervisors]
AS
SELECT 
    EmployeeID = e.BusinessEntityID,
    SupervisorID = s.BusinessEntityID
FROM 
    HumanResources.Employee e
    LEFT JOIN HumanResources.Employee s
        ON e.OrganizationNode.GetAncestor(1) = s.OrganizationNode
GO
